/* 
    Created on : 15 Aug, 2016, 2:15:08 PM
    Author     : Gurjot
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
* {
    margin: 0;
    padding: 0;
}
body {
    //background: #111;
    background: #ccffcc !important;
    //color: #fff;
    color: #000 !important;
    //font-family: 'Open sans', sans-serif !important;
    //font-weight: 300 !important;
    font-size: 20pt !important;
}
a {
    color: #000;
    text-decoration: none;
}
.menu {
    width: 1300px;
    margin: 30px auto;
    margin-left: 240px;
    background: white;
}
.menu a {
    width: 350px;
    line-height: 300px;
    display: block;
    margin: 10px;
    text-align: center;
    float: left;
}
.block { 
    //background: #96c11f;
    background:white;
    color: #000;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
    height: 300px;
    width: 350px;
    opacity:0.5;
}

/*.yellow:hover{
    width: 380px;
    line-height: 320px;
    margin: 0px;
//    background-image: url(pics/reading.png);
}
.blue:hover{
    width: 380px;
    line-height: 320px;
    margin: 0px;
}
.purple:hover{
    width: 380px;
    line-height: 320px;
    margin: 0px;
}
.orange:hover{
    width: 380px;
    line-height: 320px;
    margin: 0px;
}
.pink:hover{
    width: 380px;
    line-height: 320px;
    margin: 0px;
}
.green:hover{
    width: 380px;
    line-height: 320px;
    margin: 0px;
}
a:hover .hide{
    visibility: hidden;
}
.yellow { 
    //background: #fdd22a;
    background: #fff;
    color: #000;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}
.blue { 
    //background: #009fe3;
    background: #fff;
    color: #000;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}
.purple { 
    //background: #574696;
    background: #fff;
    color: #000;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}
.orange { 
    //background: #ee7202;
    background: #fff;
    color: #000;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}
.pink { 
    //background: #e61c67;
    background: #fff;
    color: #000;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}
.green { 
    //background: #96c11f;
    background: #fff;
    color: #000;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}
.desc1 {
    display:none;
    position:absolute;
    left:250px;
    top:300px;
    border:1px solid #000;
    width:380px;
    height:100px;
    background: #fff;
    opacity:2;
    color: #000;
    font-size: 15px;
    font-family: Arial, sans-serif;
}
.desc2 {
    display:none;
    position:absolute;
    left:800px;
    top:200px;
    border:1px solid #000;
    width:300px;
    height:150px;
    background: #fff;
    opacity:2;
    color: #000;
    font-size: 15px;
    font-family: Arial, sans-serif;
}*/